main.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg,#ff6a00,#ee0979);
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-content {
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg,#ee0979,#ff6a00);
}

main.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

main.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

main.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

main.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

main.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

#ImageContainer {
  float: left;
  width: 25%;
  height: inherit;
  display: block;
}

#InfoContainer {
  float: right;
  width: 75%;
  height: inherit;
}

div.ImageContainer {
  position: relative;
  display: inline-block;
}

img.ProfilePic {
  display: block;
}

div.overlay {
  position: absolute;
  opacity: 0;
  background-color: #eee;
  height: 100%;
  width: 100%;
  top: 0;
}

div.ImageContainer:hover div.overlay {
  opacity: 1;
}

#SideBar {
  float: left;
  width: 20%;
  height: 100%;
}

#ListViewer {
  float: right;
  width: 80%;
  height: 100%;
}

.sidebar-section {
  background-color: #14d;
}

.sidebar-item {
  height: 20px;
}

strong.sidebar-section {
}

.sidebar-section-text {
  font-size: small;
  margin-left: 15px;
}

.sidebar-item-text {
  color: #000;
}

img {
  object-fit: scale-down;
}

.DivDeEscolhas {
  width: 515px;
  height: 44px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-left: 23px;
}

.AreaEscolhida {
  background-color: #bd0760a9;
  height: 20px;
  border-radius: 8px;
  padding-left: 5px;
  width: fit-content;
  margin-bottom: 1px;
  margin-right: 2px;
  display: table;
}

.AreaEscolhida p {
  height: 10px;
  display: table-cell;
}

.MembroEscolhido p {
  height: 100%;
  display: table-cell;
  margin: 0px;
}

.MembroEscolhido {
  height: 20px;
  border-radius: 8px;
  padding-left: 5px;
  width: fit-content;
  margin-bottom: 1px;
  margin-right: 2px;
  display: table;
}

.AreaEscolhida a {
  display: table-cell;
  margin-left: 3px;
  color: #fffffff3;
  width: 16px;
  margin-right: 3px;
  height: 100%;
  align-items: center;
  padding-left: 2px;
  border-left: 2px solid #bd076050;
}

.MembroEscolhido a {
  display: table-cell;
  margin-left: 3px;
  color: #fffffff3;
  width: 16px;
  margin-right: 3px;
  height: 100%;
  align-items: center;
  padding-left: 2px;
  border-left: 2px solid #bd076050;
}

.aluno {
  background-color: #bd0707aa;
}

.prof {
  background-color: #270bcfc5;
}

.modal {
  color: black;
  top: 100px;
}

.customizedmodal {
  display: none;
  position: fixed;
  z-index: 1040;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.5);
}

.customizedmodal-content {
  display: table;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.customizedmodal-content div {
  display: table-cell;
}

nav {
  z-index: 0;
}

.fullscreen {
  margin-top: 66px;
}

.PerfilPic {
  border-radius: 50%;
  background-color: #e17272;
}

.Amostras {
  margin-left: 27px;
  margin-bottom: 5px;
  width: 515px;
  height: 46px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-top: 4px;
}

.navbar {
  height: 67px;
}

.selfuser {
  background-color: #ff6a00d7;
  padding-right: 5px;
}

