#ignore folders
AccountData/

Apigateway/

Database/SettingUp/

ImagesDB/node_modules/
ImagesDB/Dockerfile
ImagesDB/ImagesDB.js
ImagesDB/package-lock.json
ImagesDB/package.json
ImagesDB/Settup.sh

Login/

Project/

ProjectsSideInfos/

UsersSideInfos/

.env

BuildAndPush.py

RemoveImages.bat

testes-docker-compose.yml

Testes.bat

Testes.sh