#ignore folders
AccountData/

Apigateway/

Database/SettingUp/

ImagesDB/
!ImagesDB/public/images/

Login/

Project/

ProjectsSideInfos/

UsersSideInfos/

.env

BuildAndPush.py

RemoveImages.bat

testes-docker-compose.yml

Testes.bat

Testes.sh