<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profinder</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    
<link rel="stylesheet" href="{{url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/untitled.css') }}">
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script> var ProjectCode = '{{ProjectCode}}';  </script>
<script src="{{ url_for('static',filename='assets/js/TestIfLoged.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/SearchBar.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/Project.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-xl fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/">Profinder</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="searchbardiv"><input type="text" id="SearchBar" placeholder="Pesquisar Projeto Por Titulo"><img src="/static/assets/img/search_icon.png" style="height: 30px;width: 30px;" onclick="SearchForProjects ()"></div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/signup/"><strong>Criar Conta</strong><br></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login/"><strong>LOGAR</strong><br></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="d-xl-flex justify-content-xl-center masthead text-center text-white" style="height: 100%;">
        <div class="d-flex justify-content-center" style="width: 100%;margin-top: -92px;height: 100%;">
            <div id="ProjectHoleDiv" class="masthead-content-special" style="position: relative;">
                <div class="container" style="width: 100%;">
                    <h1 class="MyAccountHeader" style="margin-bottom: 32px;border-color: rgb(255,255,255);color: rgb(0,0,0);">Projeto</h1>
                    <div class="d-flex justify-content-center InfosDiv">
                        <div class="ProjectImageContainer">
                            <div class="d-xl-flex justify-content-xl-center ImageContainer"><img id="ItemPreview" class="ProfilePic" style="height: 199px;border-style: none;width: 199px;" src="/static/assets/img/Picture1-512.webp" alt="img"></div>
                        </div>
                        <div class="d-flex flex-column justify-content-center" id="InfoContainer">
                            <div class="d-flex justify-content-end" id="EditButton"><button class="btn btn-primary" type="button" onclick="EditProject()">Editar</button></div>
                            <div class="d-flex justify-content-start align-items-start" id="TituloOfProject">
                                <p class="d-xl-flex justify-content-xl-center" style="text-align: right;margin-bottom: 4px;color: rgb(0,0,0);width: 45px;">Titulo:</p><strong class="d-flex justify-content-center" id="Titulo"></strong>
                            </div>
                            <div class="d-flex justify-content-start align-items-start Amostras" id="Areas">
                                <p class="text-center" style="margin-bottom: 1px;color: rgb(0,0,0);width: 45px;margin-right: 3px;margin-top: -4px;">Areas:</p>
                            </div>
                            <div class="d-flex justify-content-start align-items-start Amostras" id="Membros">
                                <p class="text-right d-xl-flex justify-content-xl-end" style="text-align: left;margin-bottom: 1px;margin-right: 1px;color: rgb(0,0,0);width: 71px;margin-top: -4px;">Membros:</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-xl-flex justify-content-xl-center" style="width: 100%;height: fit-content;">
                    <div id="ProjectDesc" style="width: 98%;height: 64%;color: rgb(0,0,0);"></div>
                </div>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </main>
    
    
    
    
    
    
    
    
    
    
</body>

</html>